<a href="https://colab.research.google.com/github/alexandrecassimiro/VD/blob/main/filtros_e_agrupamentos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import json

# Ler o arquivo JSON
with open('all_series_lines.json') as f:
    all_series_lines = json.load(f)
# Ler o arquivo JSON
# with open(r'C:/Users/alexc/OneDrive/Particular/cursos/@Mestrado/VD/TF/all_series_lines.json') as f:
#     all_series_lines = json.load(f)

# Transformar o dicionário em um DataFrame
df = pd.DataFrame([(series_name, episode_number, character, line) for series_name, episodes in all_series_lines.items()
                   for episode_number, lines in episodes.items()
                   for character, lines_list in lines.items()
                   for line in lines_list],
                  columns=['series_name', 'episode_number', 'character', 'line'])

In [11]:
# Verificar o DataFrame
# print(df.head())
# df.head()
df

       series_name episode_number character                   line
0              ENT      episode 0    KLAANG
1              ENT      episode 0    KLAANG
2              ENT      episode 0    KLAANG  Pung ghap! Pung ghap!
3              ENT      episode 0    KLAANG           DujDaj Hegh!
4              ENT      episode 0    KLAANG         Tujpa'qyl Dun.
...            ...            ...       ...                    ...
266649         VOY    episode 159   SABRINA                 Ah ha.
266650         VOY    episode 159   SABRINA  I don't remember you.
266651         VOY    episode 159   SABRINA                   Why?
266652         VOY    episode 159   SABRINA        For four years?
266653         VOY    episode 159   SABRINA                 Ah ha.

[266654 rows x 4 columns]

In [23]:
df['series_name'].unique()

array(['ENT', 'DS9', 'TOS', 'TAS', 'TNG', 'VOY'], dtype=object)

In [24]:
df['episode_number'].unique()

array(['episode 0', 'episode 1', 'episode 2', 'episode 3', 'episode 4',
       'episode 5', 'episode 6', 'episode 7', 'episode 8', 'episode 9',
       'episode 10', 'episode 11', 'episode 12', 'episode 13',
       'episode 14', 'episode 15', 'episode 16', 'episode 17',
       'episode 18', 'episode 19', 'episode 20', 'episode 21',
       'episode 22', 'episode 23', 'episode 24', 'episode 25',
       'episode 26', 'episode 27', 'episode 28', 'episode 29',
       'episode 30', 'episode 31', 'episode 32', 'episode 33',
       'episode 34', 'episode 35', 'episode 36', 'episode 37',
       'episode 38', 'episode 39', 'episode 40', 'episode 41',
       'episode 42', 'episode 43', 'episode 44', 'episode 45',
       'episode 46', 'episode 47', 'episode 48', 'episode 49',
       'episode 50', 'episode 51', 'episode 52', 'episode 53',
       'episode 54', 'episode 55', 'episode 56', 'episode 57',
       'episode 58', 'episode 59', 'episode 60', 'episode 61',
       'episode 62', 'episode 63', 'episode 64', 'episode 65',
       'episode 66', 'episode 67', 'episode 68', 'episode 69',
       'episode 70', 'episode 71', 'episode 72', 'episode 73',
       'episode 74', 'episode 75', 'episode 76', 'episode 77',
       'episode 78', 'episode 79', 'episode 80', 'episode 81',
       'episode 82', 'episode 83', 'episode 84', 'episode 85',
       'episode 86', 'episode 87', 'episode 88', 'episode 89',
       'episode 90', 'episode 91', 'episode 92', 'episode 93',
       'episode 94', 'episode 95', 'episode 96', 'episode 97',
       'episode 98', 'episode 99', 'episode 100', 'episode 101',
       'episode 102', 'episode 103', 'episode 104', 'episode 105',
       'episode 106', 'episode 107', 'episode 108', 'episode 109',
       'episode 110', 'episode 111', 'episode 112', 'episode 113',
       'episode 114', 'episode 115', 'episode 116', 'episode 117',
       'episode 118', 'episode 119', 'episode 120', 'episode 121',
       'episode 122', 'episode 123', 'episode 124', 'episode 125',
       'episode 126', 'episode 127', 'episode 128', 'episode 129',
       'episode 130', 'episode 131', 'episode 132', 'episode 133',
       'episode 134', 'episode 135', 'episode 136', 'episode 137',
       'episode 138', 'episode 139', 'episode 140', 'episode 141',
       'episode 142', 'episode 143', 'episode 144', 'episode 145',
       'episode 146', 'episode 147', 'episode 148', 'episode 149',
       'episode 150', 'episode 151', 'episode 152', 'episode 153',
       'episode 154', 'episode 155', 'episode 156', 'episode 157',
       'episode 158', 'episode 159', 'episode 160', 'episode 161',
       'episode 162', 'episode 163', 'episode 164', 'episode 165',
       'episode 166', 'episode 167', 'episode 168', 'episode 169',
       'episode 170', 'episode 171', 'episode 172', 'episode 173',
       'episode 174', 'episode 175'], dtype=object)

In [25]:
df['character'].unique()

array(['KLAANG', 'DOCK', 'ARCHER', ..., 'PHYSICIAN', 'KORATH', 'SABRINA'],
      dtype=object)

In [26]:
# Agrupar por series_name e episode_number e obter os valores exclusivos de character
df.groupby(['series_name', 'episode_number'])['character'].unique()

series_name  episode_number
DS9          episode 0         [JENNIFER, OPS, JASAD, PICARD, MAGGIE, DUKAT, ...
             episode 1         [KIRA, SISKO, ODO, O'BRIEN, BASHIR, DAX, GARAK...
             episode 10        [KIRA, SISKO, ODO, O'BRIEN, QUARK, BASHIR, DAX...
             episode 100       [SISKO, CREWMAN, ODO, O'BRIEN, QUARK, BASHIR, ...
             episode 101       [KIRA, SISKO, ODO, O'BRIEN, BASHIR, DAX, SECUR...
                                                     ...
VOY          episode 95        [JANEWAY, NEELIX, TORRES, KIM, COMPUTER, CHAKO...
             episode 96        [JANEWAY, NEELIX, TORRES, KIM, COMPUTER, CHAKO...
             episode 97        [JANEWAY, NEELIX, TORRES, KIM, COMPUTER, CHAKO...
             episode 98        [JANEWAY, NEELIX, TORRES, KIM, COMPUTER, CHAKO...
             episode 99        [JANEWAY, NEELIX, TORRES, KIM, COMPUTER, CHAKO...
Name: character, Length: 708, dtype: object

In [12]:
# filtrar por uma série
sovoy =df.loc[df['series_name']=='VOY']
sovoy

,series_name,episode_number,character,line
198319,VOY,episode 0,JANEWAY,Tom Paris? Kathryn Janeway. I served with your...
198320,VOY,episode 0,JANEWAY,About a job we'd like you to do for us.
198321,VOY,episode 0,JANEWAY,I've been told the Rehab Commission is very pl...
198322,VOY,episode 0,JANEWAY,Your father taught me a great deal. I was his ...
198323,VOY,episode 0,JANEWAY,I'm leaving on a mission to find a Maquis ship...
...,...,...,...,...
266649,VOY,episode 159,SABRINA,Ah ha.
266650,VOY,episode 159,SABRINA,I don't remember you.
266651,VOY,episode 159,SABRINA,Why?
266652,VOY,episode 159,SABRINA,For four years?
266653,VOY,episode 159,SABRINA,Ah ha.

In [30]:
#contagem de personagens
qtpersonagens = sovoy['character'].nunique()
qtpersonagens

746

In [ ]:
# personagens
personagens = sovoy['character'].unique()
personagens

In [ ]:
# personagens de um episódio
personagens = sovoy['character'].unique()
personagens

In [51]:

#conseguir os personagens de um episódio de uma série
voyEp0C = df.loc[(df['series_name'] == 'VOY') & (df['episode_number'] == 'episode 0')]
print(voyEp0C['character'].unique())
print(voyEp0C['character'].nunique())

['JANEWAY' 'CARETAKER' 'MARK' 'CAVIT' 'NEELIX' 'DOCTOR' 'AUNT' 'CREWWOMAN'
 'KAZON' 'TORRES' 'GUL' 'CAREY' 'DAGGIN' 'NURSE' 'ROLLINS' 'KIM' 'QUARK'
 'STADI' 'TOSCAT' 'COMPUTER' 'KES' 'ADAH' 'JABIN' 'CHAKOTAY' 'OCAMPA'
 'EVEK' 'EMH' 'DAUGHTER' 'TUVOK' 'PARIS']
30

In [53]:
#conseguir os episódio2 de uma série
voyEps = df.loc[df['series_name'] == 'VOY']
print(voyEps['episode_number'].nunique())
print(voyEps['episode_number'].unique())

160
['episode 0' 'episode 1' 'episode 2' 'episode 3' 'episode 4' 'episode 5'
 'episode 6' 'episode 7' 'episode 8' 'episode 9' 'episode 10' 'episode 11'
 'episode 12' 'episode 13' 'episode 14' 'episode 15' 'episode 16'
 'episode 17' 'episode 18' 'episode 19' 'episode 20' 'episode 21'
 'episode 22' 'episode 23' 'episode 24' 'episode 25' 'episode 26'
 'episode 27' 'episode 28' 'episode 29' 'episode 30' 'episode 31'
 'episode 32' 'episode 33' 'episode 34' 'episode 35' 'episode 36'
 'episode 37' 'episode 38' 'episode 39' 'episode 40' 'episode 41'
 'episode 42' 'episode 43' 'episode 44' 'episode 45' 'episode 46'
 'episode 47' 'episode 48' 'episode 49' 'episode 50' 'episode 51'
 'episode 52' 'episode 53' 'episode 54' 'episode 55' 'episode 56'
 'episode 57' 'episode 58' 'episode 59' 'episode 60' 'episode 61'
 'episode 62' 'episode 63' 'episode 64' 'episode 65' 'episode 66'
 'episode 67' 'episode 68' 'episode 69' 'episode 70' 'episode 71'
 'episode 72' 'episode 73' 'episode 74' 'episode 75' 'episode 76'
 'episode 77' 'episode 78' 'episode 79' 'episode 80' 'episode 81'
 'episode 82' 'episode 83' 'episode 84' 'episode 85' 'episode 86'
 'episode 87' 'episode 88' 'episode 89' 'episode 90' 'episode 91'
 'episode 92' 'episode 93' 'episode 94' 'episode 95' 'episode 96'
 'episode 97' 'episode 98' 'episode 99' 'episode 100' 'episode 101'
 'episode 102' 'episode 103' 'episode 104' 'episode 105' 'episode 106'
 'episode 107' 'episode 108' 'episode 109' 'episode 110' 'episode 111'
 'episode 112' 'episode 113' 'episode 114' 'episode 115' 'episode 116'
 'episode 117' 'episode 118' 'episode 119' 'episode 120' 'episode 121'
 'episode 122' 'episode 123' 'episode 124' 'episode 125' 'episode 126'
 'episode 127' 'episode 128' 'episode 129' 'episode 130' 'episode 131'
 'episode 132' 'episode 133' 'episode 134' 'episode 135' 'episode 136'
 'episode 137' 'episode 138' 'episode 139' 'episode 140' 'episode 141'
 'episode 142' 'episode 143' 'episode 144' 'episode 145' 'episode 146'
 'episode 147' 'episode 148' 'episode 149' 'episode 150' 'episode 151'
 'episode 152' 'episode 153' 'episode 154' 'episode 155' 'episode 156'
 'episode 157' 'episode 158' 'episode 159']